<!DOCTYPE html>
<html>
<head>
    <title>Cheers, man!</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">

    <link rel="stylesheet" href="/dist/css/bootstrap.min.css">
</head>
<body>
    <div class='container'>

        <%= yield %>

    </div>
</body>
</html>